body {
  font-family: Arial, Helvetica, sans-serif;
}
.main-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  padding: 20px 0 15px 0;
  background-color: #5b946e;
}